# Aula 12 - Simulado e Revis√£o

Nesta aula iremos **revisar SQL** e fixar os conte√∫dos aprendidos nas √∫ltimas aulas.

## Como resolver os exerc√≠cios?

Indicamos que resolva em sua m√°quina. Utilize o MySQL Workbench ou o conector para testar as queries. Quando estiver bastante certo de que a resposta est√° correta, anexe no notebook a resposta / imagem de resposta (quando solicitado imagem).

## Import das bibliotecas

Vamos importar as bibliotecas.

In [5]:
import mysql.connector
from functools import partial
import os
from dotenv import load_dotenv

E vamos criar nosso HELPER de conex√£o com o banco! Perceba que, uma vez configurado o `.env` n√£o precisaremos mais informar usu√°rios, senhas e URLs!

In [6]:
load_dotenv(override=True)

def get_connection_helper():

    def run_db_query(connection, query, args=None):
        with connection.cursor() as cursor:
            print('Executando query:')
            cursor.execute(query, args)
            for result in cursor:
                print(result)

    connection = mysql.connector.connect(
        host=os.getenv('localhost'),
        user=os.getenv('root'),
        password=os.getenv('megadados'),
        database='classicmodels',
    )
    return connection, partial(run_db_query, connection)


connection, db = get_connection_helper()

DatabaseError: 2017 (HY000): Can't open named pipe to host: .  pipe: MySQL (2)

## Exerc√≠cios de revis√£o - Megadados

Um dos setores de tecnologia em franca expans√£o √© o agrotech. Avan√ßos em telecomunica√ß√µes, computa√ß√£o e sistemas de informa√ß√£o viabilizam a aplica√ß√£o de tecnologia da informa√ß√£o para o aumento da produtividade no campo.


Voc√™ foi contratado por uma empresa de automa√ß√£o agr√≠cola. Sua tarefa √© implementar um sistema para ajudar na aplica√ß√£o de inseticidas no campo. Em conversas com o cliente, voc√™ levantou as seguintes informa√ß√µes sobre o dom√≠nio de neg√≥cios:
- Uma fazenda tem v√°rios lotes. √â importante dividir a fazenda em lotes para implementar a rota√ß√£o das planta√ß√µes: em um ano planta-se milho em um lote, noutro ano planta-se soja, etc.
- Cada lote tem apenas um tipo de planta√ß√£o por vez (ou seja, n√£o tem lote hibrido milho-soja)
- Um inseticida pode servir para v√°rios tipos de planta√ß√£o, mas n√£o para todos. De modo similar, uma planta√ß√£o pode receber diferentes inseticidas, mas provavelmente n√£o todos.
- Para cada combina√ß√£o de tipos de planta√ß√£o e inseticida existe uma frequ√™ncia mensal de aplica√ß√£o.
- Cada inseticida tem um certo custo por hectare para ser aplicado.
- Cada lote vai receber um inseticida espec√≠fico, determinado pelo engenheiro agr√≠cola.

**Exerc√≠cio 1**: Liste as entidades deste problema e seus atributos, usando a nota√ß√£o de *schema* do modelo relacional.

<div class="alert alert-success">

Sua resposta aqui! D√™ dois cliques e edite.

</div>

**Exerc√≠cio 2**: Desenhe o diagrama do modelo relacional deste problema. N√£o esque√ßa de indicar claramente as chaves prim√°rias, chaves estrangeiras, e a cardinalidade dos relacionamentos.

**Obs**: Salve a imagem do diagrama na pasta `img`. Edite na resposta o caminho para a imagem!

<div class="alert alert-success">
Edite na resposta o caminho para a imagem!
<img src="img/exemplo.png">

</div>

**Exerc√≠cio 3**: Escreva o script de cria√ß√£o da tabela referentes aos lotes

<div class="alert alert-success">

D√™ dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

**Exerc√≠cio 4**: Escreva a DML para as seguintes tarefas:
    
**a.** Crie 3 lotes para a fazenda: um de 4 hectares, outro de 3 hectares, e outro de 5 hectares.

<div class="alert alert-success">

D√™ dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

**b.** Corrija um erro no item anterior: mude o tamanho do lote de 3 hectares para 3,5 hectares.

<div class="alert alert-success">

D√™ dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

**c.** Como obter o id do lote em uma **aplica√ß√£o real**? √â realista pedir ao usu√°rio que decore o id de cada lote?

<div class="alert alert-success">

D√™ dois cliques e edite! Sua resposta AQUI!

</div>

**Exerc√≠cio 5**: Escreva queries para as seguintes tarefas:
    
**a.** Qual a maior fazenda?

<div class="alert alert-success">

D√™ dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

**b.** Quais as planta√ß√µes com √°rea total maior que 10 hectares?

<div class="alert alert-success">

D√™ dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

**c.** Qual o custo total atual com inseticidas?

<div class="alert alert-success">

D√™ dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

**d.** Quais inseticidas n√£o foram usados?

<div class="alert alert-success">

D√™ dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

**e.** Qual o menor custo poss√≠vel com inseticidas?

<div class="alert alert-success">

D√™ dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

**f.** Escreva a query mais cruel que voc√™ consegue imaginar! üòä

<div class="alert alert-success">

D√™ dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>